<!-- home.ejs -->

<!DOCTYPE html>
<html>
<head>
  <title>Home Page</title>
  <!-- Add your CSS styling and external libraries here -->
  <link rel="stylesheet" href="front-page.css">
</head>
<body>
  <!-- Include the navbar using the include function -->
  <%- include('navbar') %>

  <h1>Welcome to the Electronic Repair Shop</h1>
 
  <p>Here, you can raise complaints for electronic repairs and track their status.</p>
  <!-- <img src="f2.avif" alt="Image description"> -->
  <!-- Add more content and sections as needed -->

  <!-- Add your JavaScript code and external scripts here -->

  <!-- Add your footer here -->

</body>
</html>
